body {
    width: 280px;
    height: 550px;
    background-color: #34d149;
}

.header {
    display: flex;
    flex-direction: row;
}

.nav-logo-image {
    margin-top: 10px;
    padding-left: 10px;
}

.logo {
  margin-top: 30px;
}

.nav-logo {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    font-family: 'Merriweather';
    text-decoration: none;
}

.login-notice {
    width: 250px;
}

.notice {
    font-family: 'Raleway';
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-top: 15px;
}


input {
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
}

label {
    margin-top: 10px;
    padding: 10px;
    font-family: 'Raleway';
    color: white; 
    text-decoration: none; 
    font-size: 16px; 
    margin-left: 20px;
    width: 150px;
}

button {
    background-color: #b9c6b4;
    margin-left: 30px;
    height: 40px; 
    width: 220px;
    color: white;
    font-family: 'Raleway';
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 3px; 
    cursor: pointer;
}


